@if (isAddingTask) {
    <app-new-task
        (cancelTask) = "cancelAddTask()">
    </app-new-task>
} 

<section id="tasks">
    <header>
        <h2> Tasks for {{ name }} </h2>
        <menu>
            <button (click)="addNewTask()">
                Add New Task
            </button>
        </menu>
    </header>
    <ul>
        @for (task of selectedUserTasks; track task.id) {
            <li>
            <app-task
                [task]="task"
                (completeTask)="deleteTask($event)">
            </app-task>
            </li>
       }
    </ul>
</section>
